# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/LinuxThermoCamera.VC.db
/src/Makefile.old
/src/release.mak.old
/src/Debug
/src/VisualGDBCache
/src/debug.mak.old
/.vs/LinuxThermoCamera/v14/*.suo
/src/.vs/LinuxThermoCamera/v14/*.suo
/src/LinuxThermoCamera.VC.VC.opendb
/src/Release
/src/.vs/LinuxThermoCamera/v15/*.suo
/src/.vs/LinuxThermoCamera/v15
/src/CodeDB
